/*Media Queries*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif; }

ul, li {
  padding: 0 !important;
  margin: 0 !important;
  list-style-type: none; }

a {
  text-decoration: none; }

body {
  background: #203137;
  background: radial-gradient(circle, #203137 0%, black 100%); }

.hidden {
  overflow: hidden; }

.preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; }

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px; }

.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite; }

.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s; }

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1; }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0; } }

/*Pie de pagina*/
footer {
  box-shadow: 0px 0px 0.625em 0px rgba(0, 0, 0, 0.2);
  background-color: #363538;
  padding-top: 1em; }
  @media (max-width: 480px) {
    footer {
      font-size: 10px; } }
  footer .redes {
    display: flex;
    justify-content: space-between;
    margin: 0em 1em 0 1em;
    border-bottom: 1px  solid; }
    footer .redes p {
      color: #cecccc;
      font-weight: 600; }
    footer .redes .redes-logos {
      display: flex;
      justify-content: space-around;
      width: 11.25em;
      color: white; }
  footer .mapaDeSitio_conteiner {
    margin: 1.5em;
    display: flex;
    justify-content: space-between;
    text-align: justify; }
    footer .mapaDeSitio_conteiner .logo-footer {
      width: 8em;
      height: 8em; }
      @media (max-width: 480px) {
        footer .mapaDeSitio_conteiner .logo-footer {
          display: none; } }
    footer .mapaDeSitio_conteiner h6 {
      color: #ffffff;
      text-transform: uppercase;
      font-weight: 800; }
      @media (max-width: 480px) {
        footer .mapaDeSitio_conteiner h6 {
          font-size: 10px; } }
    footer .mapaDeSitio_conteiner p {
      font-size: 1.3em;
      color: #b8b7b7;
      margin: .2em; }
      footer .mapaDeSitio_conteiner p a {
        font-size: .8em; }
    footer .mapaDeSitio_conteiner .mapaDeSitio-contacto {
      display: flex;
      flex-direction: column;
      align-items: center; }
      footer .mapaDeSitio_conteiner .mapaDeSitio-contacto p {
        margin-top: .2em;
        font-size: 1em; }
      @media (max-width: 480px) {
        footer .mapaDeSitio_conteiner .mapaDeSitio-contacto {
          font-size: 7px; } }
  footer .copyright {
    padding: 1em 0 .5em 0;
    background-color: rgba(105, 105, 105, 0.589);
    color: honeydew;
    box-shadow: 0px 0px 0.625em 0px rgba(0, 0, 0, 0.2);
    text-align: center; }
    footer .copyright p {
      font-size: 1.1em; }

/*Navbar*/
.menu-color {
  background-color: rgba(17, 17, 17, 0.623);
  padding: 1.5em;
  color: white; }
  .menu-color .logo {
    color: white;
    font-size: 2em;
    font-weight: 600; }
    @media (max-width: 480px) {
      .menu-color .logo {
        font-size: 20px; } }
    .menu-color .logo .navbar-toggler {
      background-color: white; }
  .menu-color .menu-ul {
    width: 60%;
    justify-content: space-between; }
    .menu-color .menu-ul .menu-item {
      color: white;
      font-size: 1.1em; }

.navbar-toggler {
  background-color: white;
  border: 0px; }
  .navbar-toggler .navbar-toggler-icon img {
    width: 100%; }

.productos-container {
  padding-top: 3em;
  padding-bottom: 5em; }
  @media (max-width: 480px) {
    .productos-container {
      font-size: 12px;
      padding-bottom: 0em; } }
  .productos-container .productos-portada {
    padding: 3em;
    text-align: justify; }
    @media (max-width: 480px) {
      .productos-container .productos-portada {
        text-align: center;
        padding: 0; } }
    .productos-container .productos-portada .titulo2 {
      border-bottom: solid white;
      text-align: center;
      margin: auto;
      width: 15em;
      border-bottom: 3px #7FC5A4 solid; }
      .productos-container .productos-portada .titulo2 h3 {
        color: #fffffff8;
        font-family: 'Raleway', sans-serif;
        text-transform: uppercase;
        font-weight: 900;
        font-size: 2.1875em; }
    .productos-container .productos-portada .productosPortada-texto {
      margin: auto;
      width: 56em;
      padding-top: 3em; }
      .productos-container .productos-portada .productosPortada-texto p {
        color: lightgray;
        font-size: 1.2em; }
      @media (max-width: 480px) {
        .productos-container .productos-portada .productosPortada-texto {
          width: 28em; } }
  .productos-container .productos-cajas {
    padding: 2em;
    display: flex;
    justify-content: space-around; }
    @media (max-width: 480px) {
      .productos-container .productos-cajas {
        font-size: 10px;
        flex-direction: column;
        align-items: center; } }
    .productos-container .productos-cajas .card {
      position: relative;
      width: 16.25em;
      height: 20em;
      box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
      border: solid 0px;
      transition: .3s ease all; }
      @media (max-width: 480px) {
        .productos-container .productos-cajas .card {
          margin-bottom: 3em; } }
      .productos-container .productos-cajas .card:hover {
        transform: scale(1.2);
        transform-origin: center; }
      .productos-container .productos-cajas .card .card-titulo {
        padding-top: .3em;
        border-top: solid .1em #eeea0e;
        background: #203137;
        background: radial-gradient(circle, #203137 0%, black 100%); }
        .productos-container .productos-cajas .card .card-titulo h4 {
          font-size: 1.2em;
          text-transform: uppercase;
          text-align: center;
          font-weight: 700;
          color: #ffffff; }
      .productos-container .productos-cajas .card--image {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden; }
        .productos-container .productos-cajas .card--image img {
          width: 140%;
          height: 140%;
          object-fit: cover; }
      .productos-container .productos-cajas .card--info {
        --size: 1.25em;
        width: var(--size);
        height: var(--size);
        background: rgba(0, 0, 0, 0.75);
        border-radius: 2px;
        position: absolute;
        transition: width 550ms ease, height 550ms ease, right 550ms ease, background 550ms ease;
        overflow: hidden;
        box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px; }
        .productos-container .productos-cajas .card--info::after {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient(to top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.25) 50%, transparent 100%);
          z-index: 1;
          opacity: 0;
          transition: opacity 550ms ease; }
        .productos-container .productos-cajas .card--info.info--1 {
          bottom: 47%;
          right: 80%; }
          .productos-container .productos-cajas .card--info.info--1 .info--image img {
            top: -80%;
            left: -20%; }
        .productos-container .productos-cajas .card--info.info--2 {
          bottom: 25%;
          right: 15%; }
          .productos-container .productos-cajas .card--info.info--2 .info--image img {
            right: -20%;
            bottom: -80%; }
        .productos-container .productos-cajas .card--info .info--text {
          display: block;
          position: absolute;
          width: 100%;
          text-align: center;
          top: 46%;
          bottom: 5%;
          font-size: 0.9em;
          letter-spacing: 1px;
          font-weight: bold;
          color: white;
          text-shadow: 2px 2px 2px #05050c;
          white-space: nowrap;
          z-index: 2;
          opacity: 0;
          transform: translateY(25%);
          transition: opacity 250ms ease, transform 250ms ease; }
        .productos-container .productos-cajas .card--info .info--image {
          position: relative;
          width: 100%;
          height: 100%;
          overflow: hidden; }
          .productos-container .productos-cajas .card--info .info--image img {
            position: absolute;
            width: 340%;
            height: 340%;
            object-fit: cover;
            opacity: 0;
            transition: opacity 550ms ease; }
      .productos-container .productos-cajas .card:hover .card--info {
        --size: 100px; }
        .productos-container .productos-cajas .card:hover .card--info::after {
          opacity: 1; }
        .productos-container .productos-cajas .card:hover .card--info.info--1 {
          right: 71%;
          transition-delay: 100ms; }
        .productos-container .productos-cajas .card:hover .card--info.info--2 {
          right: -10%; }
        .productos-container .productos-cajas .card:hover .card--info .info--image img {
          opacity: 1; }
        .productos-container .productos-cajas .card:hover .card--info .info--text {
          transition-delay: 550ms;
          opacity: 1;
          transform: translateY(0%); }
    .productos-container .productos-cajas .support {
      position: absolute;
      right: 0.625em;
      bottom: 0.625em;
      padding: 0.625em;
      display: flex; }
      .productos-container .productos-cajas .support a {
        margin: 0 0.625em;
        color: #fff;
        font-size: 1.8em;
        backface-visibility: hidden;
        transition: all 150ms ease; }
        .productos-container .productos-cajas .support a:hover {
          transform: scale(1.1); }

.block {
  display: none; }

.productos {
  clip-path: polygon(50% 0%, 77% 3%, 100% 0, 100% 100%, 0 100%, 0 0, 25% 3%);
  background: radial-gradient(circle, #7fc5a4 0%, #050b1d 100%);
  padding: 6em 0 3em 0;
  margin-top: 2em; }
  @media (max-width: 480px) {
    .productos {
      font-size: 12px; } }
  .productos .productos-titulos {
    text-align: justify;
    border-bottom: solid white;
    text-align: center;
    margin: 0 auto 2em;
    width: 12em;
    border-bottom: 3px #7FC5A4 solid; }
    .productos .productos-titulos h3 {
      color: #ffffff;
      font-family: 'Raleway', sans-serif;
      text-transform: uppercase;
      font-weight: 900;
      font-size: 1.875em; }
  .productos .planetas-container {
    display: flex;
    justify-content: center;
    margin: 8em auto 5em;
    align-items: flex-start; }
    @media (max-width: 480px) {
      .productos .planetas-container {
        font-size: 10px;
        margin: 3em auto 0em;
        flex-direction: column; } }
    .productos .planetas-container .productos-texto {
      border: solid 0.5em gray;
      padding: 3em 2em 2em 2em;
      background-color: white;
      width: 45%;
      text-align: center;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; }
      @media (max-width: 480px) {
        .productos .planetas-container .productos-texto {
          font-size: 12px;
          width: 90%;
          margin: auto; } }
      .productos .planetas-container .productos-texto h5 {
        color: #464444;
        margin: auto;
        width: 10em;
        border-bottom: green solid;
        font-weight: 800;
        font-size: 1.4375em;
        text-transform: uppercase; }
      .productos .planetas-container .productos-texto .productos-cajaTexto {
        margin-top: 2em; }
        @media (max-width: 480px) {
          .productos .planetas-container .productos-texto .productos-cajaTexto {
            font-size: 11px; } }
        .productos .planetas-container .productos-texto .productos-cajaTexto .productos-span {
          text-transform: uppercase;
          font-weight: 800; }
        .productos .planetas-container .productos-texto .productos-cajaTexto .boton1 {
          display: inline-block;
          padding: .5em 1em .5em 1em;
          border-radius: 5px;
          background-color: yellow;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          transition: .3s ease all;
          font-weight: 600;
          font-size: 1.1em;
          color: black; }
          .productos .planetas-container .productos-texto .productos-cajaTexto .boton1:hover {
            transform: scale(1.2); }
    .productos .planetas-container .planeta-videos {
      display: flex;
      align-items: center;
      margin-top: 4em;
      height: 22em;
      background-color: black;
      width: 40%;
      overflow: hidden; }
      @media (max-width: 480px) {
        .productos .planetas-container .planeta-videos {
          display: none; } }

.productos-carousel {
  position: relative;
  height: 100%; }

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px; }

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px; }

.swiper-slide img {
  display: block;
  width: 100%; }

.SobreNosotros {
  display: flex; }
  @media (max-width: 480px) {
    .SobreNosotros {
      flex-direction: column; } }
  .SobreNosotros .SobreNosotros-imagen {
    width: 50%;
    height: 38em; }
    @media (max-width: 480px) {
      .SobreNosotros .SobreNosotros-imagen {
        width: 100%;
        font-size: 10px; } }
    .SobreNosotros .SobreNosotros-imagen img {
      width: 100%;
      height: 100%; }
    .SobreNosotros .SobreNosotros-imagen .carousel {
      width: 100%;
      height: 38em; }
      .SobreNosotros .SobreNosotros-imagen .carousel .carousel-item {
        height: 38em; }
        .SobreNosotros .SobreNosotros-imagen .carousel .carousel-item .img-carousel {
          width: 90%;
          height: 100%; }
  .SobreNosotros .SobreNosotros-texto {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #203137;
    background: radial-gradient(circle, #203137 0%, black 100%); }
    @media (max-width: 480px) {
      .SobreNosotros .SobreNosotros-texto {
        width: 100%; } }
    .SobreNosotros .SobreNosotros-texto .Titulo1 {
      margin-top: 9em;
      display: inline-block;
      border-bottom: 2px white solid; }
      @media (max-width: 480px) {
        .SobreNosotros .SobreNosotros-texto .Titulo1 {
          margin: 2em; } }
      .SobreNosotros .SobreNosotros-texto .Titulo1 h3 {
        color: #7FC5A4;
        font-family: 'Raleway', sans-serif;
        text-transform: uppercase;
        font-weight: 900; }
    .SobreNosotros .SobreNosotros-texto .SobreNosotros-p {
      margin: 3em 5em 3em 5em;
      color: lightgray; }
      @media (max-width: 480px) {
        .SobreNosotros .SobreNosotros-texto .SobreNosotros-p {
          margin: 0; } }
      .SobreNosotros .SobreNosotros-texto .SobreNosotros-p p {
        font-size: 1.1em;
        text-align: center; }
        @media (max-width: 480px) {
          .SobreNosotros .SobreNosotros-texto .SobreNosotros-p p {
            font-size: 15px;
            padding: 1em; } }

.porQueElegirnos-container {
  background-color: white;
  padding: 3em;
  text-align: center; }
  @media (max-width: 480px) {
    .porQueElegirnos-container {
      font-size: 10px; } }
  .porQueElegirnos-container h5 {
    color: #5D737E;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.75em; }
  .porQueElegirnos-container .porQueElegirnos-cajaContenedora {
    display: flex;
    justify-content: space-around;
    margin-top: 3em; }
    @media (max-width: 480px) {
      .porQueElegirnos-container .porQueElegirnos-cajaContenedora {
        flex-direction: column;
        align-items: center; } }
    .porQueElegirnos-container .porQueElegirnos-cajaContenedora .porQueElegirnos-box {
      width: 20em;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .porQueElegirnos-container .porQueElegirnos-cajaContenedora .porQueElegirnos-box .porQueElegirnos-imgTitulo {
        border-bottom: solid #5d737e81;
        margin-bottom: 1em;
        width: 80%; }
        @media (max-width: 480px) {
          .porQueElegirnos-container .porQueElegirnos-cajaContenedora .porQueElegirnos-box .porQueElegirnos-imgTitulo img {
            width: 5em; } }
        .porQueElegirnos-container .porQueElegirnos-cajaContenedora .porQueElegirnos-box .porQueElegirnos-imgTitulo h6 {
          color: #5D737E;
          font-family: 'Raleway', sans-serif;
          text-transform: uppercase;
          font-weight: 900;
          font-size: 1.5625em;
          margin-top: 1em; }
          @media (max-width: 480px) {
            .porQueElegirnos-container .porQueElegirnos-cajaContenedora .porQueElegirnos-box .porQueElegirnos-imgTitulo h6 {
              font-size: 12px; } }
      .porQueElegirnos-container .porQueElegirnos-cajaContenedora .porQueElegirnos-box p {
        color: #5D737E;
        font-family: 'Raleway', sans-serif;
        font-size: 1.125em; }

/*Slider*/
.banner {
  position: relative;
  width: 100%;
  min-height: 100vh; }
  @media (max-width: 480px) {
    .banner {
      min-height: 90vh;
      font-size: 12px; } }

.banner .imgBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.banner .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: .5s;
  background-position: center; }

.banner .imgBx img.active {
  opacity: 1; }

.controls {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 80px; }

.controls li {
  position: relative;
  width: 80px;
  height: 80px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer; }

.controls li:hover {
  background: #faf33e; }

.controls li::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border-left: 3px solid #111;
  border-bottom: 3px solid #111;
  transform: rotate(45deg); }

.controls li:nth-child(2):before {
  transform: rotate(225deg); }

.contentBx {
  position: absolute;
  bottom: 0;
  max-width: 700px; }

.contentBx div {
  display: none; }

.contentBx div.active {
  display: block;
  padding: 30px;
  padding-left: 100px;
  background: rgba(0, 0, 0, 0.2); }

.contentBx div h2 {
  color: #fff;
  font-size: 2rem; }

.contentBx div p {
  color: #fff;
  font-size: 1.1em; }

.contentBx div a {
  color: #111;
  font-size: 1.1em;
  display: inline-block;
  padding: 10px 30px;
  background: #fff;
  margin-top: 10px;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: uppercase; }

/*Medios de pago*/
.medios-container {
  padding-top: 1em;
  padding-bottom: 5em;
  background-color: rgba(17, 17, 17, 0.623); }
  @media (max-width: 480px) {
    .medios-container {
      font-size: 12px;
      padding-bottom: 3em; } }
  .medios-container .medios-portada {
    padding: 3em;
    text-align: justify; }
    @media (max-width: 480px) {
      .medios-container .medios-portada {
        padding: 1em; } }
    .medios-container .medios-portada .medios-contacto {
      border-bottom: solid #eeecec;
      text-align: center;
      margin: auto;
      width: 33em;
      border-bottom: 3px #7FC5A4 solid; }
      @media (max-width: 480px) {
        .medios-container .medios-portada .medios-contacto {
          width: 32em;
          font-size: 9px; } }
      .medios-container .medios-portada .medios-contacto h3 {
        color: #fffffff8;
        text-transform: uppercase;
        font-weight: 900;
        font-size: 2.1875em; }
  .medios-container .medios-caja {
    background-color: #eeeeee;
    margin: 4em 3em 0em 3em;
    padding: 0em 1em 3em 1em; }
    @media (max-width: 480px) {
      .medios-container .medios-caja {
        font-size: 10px;
        margin: 2em .5em 0em .5em;
        padding: 1em 1em 1em 1em; } }
    .medios-container .medios-caja .medios-texto {
      margin: auto;
      width: 50em;
      padding-top: 3em;
      text-align: center; }
      @media (max-width: 480px) {
        .medios-container .medios-caja .medios-texto {
          padding-top: 0em;
          width: 55em; } }
      .medios-container .medios-caja .medios-texto p {
        color: #474747;
        font-size: 1.2em; }
      .medios-container .medios-caja .medios-texto h5 {
        color: #464444;
        display: inline-block;
        margin: 1em;
        border-bottom: green solid;
        font-weight: 800;
        font-size: 1.4375em;
        text-transform: uppercase; }
      @media (max-width: 480px) {
        .medios-container .medios-caja .medios-texto {
          width: 28em; } }

/*----------------*/
.footer {
  background-color: #adabab;
  padding-top: 1em; }
  .footer img {
    width: 10em; }

.boton__footer {
  color: #111;
  font-size: .8em;
  display: inline-block;
  padding: 7px 15px;
  background: #fff;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: uppercase; }

.btn-whatsapp {
  display: block;
  width: 70px;
  height: 70px;
  color: #fff;
  position: fixed;
  right: 20px;
  bottom: 20px;
  border-radius: 50%;
  line-height: 80px;
  text-align: center;
  z-index: 999; }

.contacto-container {
  padding-top: 3em;
  padding-bottom: .5em;
  background-color: #1d1c1c; }
  @media (max-width: 480px) {
    .contacto-container {
      font-size: 12px; } }
  .contacto-container .contacto-portada {
    padding: 3em;
    text-align: justify; }
    @media (max-width: 480px) {
      .contacto-container .contacto-portada {
        padding: 1em; } }
    .contacto-container .contacto-portada .titulo-contacto {
      border-bottom: solid white;
      text-align: center;
      margin: auto;
      width: 15em;
      border-bottom: 3px #7FC5A4 solid; }
      @media (max-width: 480px) {
        .contacto-container .contacto-portada .titulo-contacto {
          width: 32em;
          font-size: 9px; } }
      .contacto-container .contacto-portada .titulo-contacto h3 {
        color: #fffffff8;
        font-family: 'Raleway', sans-serif;
        text-transform: uppercase;
        font-weight: 900;
        font-size: 2.1875em; }
  .contacto-container .contacto-caja {
    background-color: white;
    margin: 3em 3em 1em 3em;
    padding: 2em 1em 3em 1em; }
    @media (max-width: 480px) {
      .contacto-container .contacto-caja {
        font-size: 12px;
        margin: 2em 0em 0em 0em;
        padding: 2em 1.5em 1em 1.5em; } }
    .contacto-container .contacto-caja .contacto-texto {
      margin: auto;
      width: 50em;
      padding-top: 3em;
      text-align: center; }
      @media (max-width: 480px) {
        .contacto-container .contacto-caja .contacto-texto {
          padding: 0em;
          font-size: 11px; } }
      .contacto-container .contacto-caja .contacto-texto p {
        color: #474747;
        font-size: 1.2em; }
      .contacto-container .contacto-caja .contacto-texto h5 {
        color: #464444;
        display: inline-block;
        margin: 1em;
        width: 10em;
        border-bottom: green solid;
        font-weight: 800;
        font-size: 1.4375em;
        text-transform: uppercase; }
      @media (max-width: 480px) {
        .contacto-container .contacto-caja .contacto-texto {
          width: 28em; } }
    .contacto-container .contacto-caja .contacto-redes {
      padding-top: 1em;
      display: flex;
      margin: auto;
      width: 30%;
      justify-content: space-around; }
      .contacto-container .contacto-caja .contacto-redes img {
        transition: .3s ease all; }
        .contacto-container .contacto-caja .contacto-redes img:hover {
          transform: scale(1.2); }
        @media (max-width: 480px) {
          .contacto-container .contacto-caja .contacto-redes img {
            width: 30px; } }
