
/*Slider*/

.banner {
	position: relative;
	width: 100%;
	min-height: 100vh;
	@include smarthphone{
		min-height: 90vh;
		font-size: 12px;
	}
}

.banner .imgBx{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.banner .imgBx img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 0;
	transition: .5s;
	background-position: center;
}

.banner .imgBx img.active{
	opacity: 1;
}

.controls{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 0;
	width: 80px;
}

.controls li{
	position: relative;
	width: 80px;
	height: 80px;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.controls li:hover{
	background: #faf33e;
}

.controls li::before{
	content: '';
	position: absolute;
	width: 20px;
	height: 20px;
	border-left: 3px solid #111;
	border-bottom: 3px solid #111;
	transform: rotate(45deg);
}

.controls li:nth-child(2):before{
	transform: rotate(225deg);
}

.contentBx{
	position: absolute;
	bottom: 0;
	max-width: 700px;
}

.contentBx div{
	display: none;
}

.contentBx div.active{
	display: block;
	padding: 30px;
	padding-left: 100px;
	background: rgba(0, 0, 0, 0.2);
}

.contentBx div h2{
	color: #fff;
	font-size: 2rem;
}

.contentBx div p {
	color: #fff;
	font-size: 1.1em;
}

.contentBx div a {
	color: #111;
	font-size: 1.1em;
	display: inline-block;
	padding: 10px 30px;
	background: #fff;
	margin-top: 10px;
	font-weight: 500;
	text-decoration: none;
	letter-spacing: 2px;
	text-transform: uppercase;
}

/*Medios de pago*/

.medios-container{
    padding-top: 1em;
    padding-bottom: 5em;
	background-color:rgba(17, 17, 17, 0.623);
	@include smarthphone{
        font-size: 12px;
		padding-bottom: 3em;
    }

    .medios-portada{
        padding: 3em;
        text-align: justify;
		@include smarthphone{
			padding: 1em;
		}
        .medios-contacto{
			
            border-bottom: solid rgb(238, 236, 236);
            text-align: center;
            margin: auto;
            width:33em;
            border-bottom: 3px #7FC5A4 solid;
			@include smarthphone{
				width:32em;
				font-size: 9px;
			}
		

            h3{
                color: #fffffff8;
                text-transform: uppercase;
                font-weight: 900;
                font-size: 2.1875em;
            }
        }
    }
    .medios-caja{
        background-color: rgb(238, 238, 238);
        margin: 4em 3em 0em 3em;
        padding: 0em 1em 3em 1em;
		@include smarthphone{
			font-size: 10px;
			margin: 2em .5em 0em .5em;
			padding: 1em 1em 1em 1em;
		}

        .medios-texto{
            margin: auto;
            width: 50em;
            padding-top: 3em;
            text-align: center;
			@include smarthphone{
				padding-top: 0em;
				width: 55em;
			}
	
            p{
                color: rgb(71, 71, 71);
                font-size: 1.2em;
            }
            h5{
                color: rgb(70, 68, 68);
                display: inline-block;
                margin: 1em;
                border-bottom: green solid;
                font-weight: 800;
                font-size: 1.4375em;
                text-transform: uppercase;
            }
            @include smarthphone{
                width: 28em;
            }
        }
    }
}


/*----------------*/
.footer{
	background-color: rgb(173, 171, 171);
	padding-top: 1em;
	img{
		width: 10em;
	}
}

.boton__footer{
	color: #111;
	font-size: .8em;
	display: inline-block;
	padding: 7px 15px;
	background: #fff;
	font-weight: 500;
	text-decoration: none;
	letter-spacing: 2px;
	text-transform: uppercase;
}



.btn-whatsapp {
	display:block;
	width:70px;
	height:70px;
	color:#fff;
	position: fixed;
	right:20px;
	bottom:20px;
	border-radius:50%;
	line-height:80px;
	text-align:center;
	z-index:999;
}